@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Quicksand&display=swap');

/*-----------------------------------------------------------------BODY*/
body {
    font-family: 'Quicksand', sans-serif;
    
}


/*-----------------------------------------------------------------HEADERS*/

.headers {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    margin-left: 3em;
}
/*-----------------------------------------------------------------NAVBAR*/
nav ul a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px grey;
}

nav ul a:hover  {
    font-size: 15px; 
    color: #e8b3b3 !important;
    display: block;
    background-color: #fafafa;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    text-decoration: none;
    padding-left: 10px;
    text-shadow: 1px 1px grey }
  
nav .brand-logo:hover{
     color: #e8b3b3 !important;
         text-shadow: 1px 1px white;

}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: #c9c7c7;
    font-family: 'Euphoria Script', cursive;
    font-size:12px;
    padding-left:5px;
    text-decoration: none;
}

/*-----------------------------------------------------------------HOME PAGE*/
.background-container {
    background-image: url('/static/images/background.jpg');
    min-height: 1200px;
    max-width:initial;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}


/*-----------------------------------------------------------------TO-DO LIST*/

.btn .btn_small {
    height:24px;
    width:60px;
    line-height:24px;
    margin:5px 5px;
    padding: 0 0.5em;
    background-color:#c9c7c7 !important;
}

.btn .btn_small .edit_button{
    height:24px;
    width:60px;
    line-height:24px;
    margin:5px 5px;
    padding: 0 0.5em;
    color: #e8b3b3 !important;
}

.row .col.s9 {
    width: 75%;
    padding-left: 0;
    margin-left: 0;
    font-family: 'Quicksand', sans-serif;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.input-field.col label {
    left: 4rem;}


.to-do-list-container{
     background-image: url('/static/images/todo.jpg');
    min-height: 1200px;
    max-width:initial;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}


/*----------------------------------------------------------------INSPIRATION PAGE*/


.inspiration-page {
    margin-bottom: 100px;
    background-color: #fafafa;
    min-height: 1900px;
}

.inspiration-page h2{
   font-family: 'Euphoria Script', cursive;
}
.portfolio-images {
    padding: 20px;
}

.img-thumbnail {
    border: 1px solid #e8b3b3;
    border-radius: 5px;
    padding: 5px;
}

.item {
    padding: 4px;
}

/*----------------------------------------------------------------FOOTER*/
    footer {
    background-color: #c9c7c7;
    position: fixed;
    text-align: center;
    width: 100%;
    color: #fafafa;
    bottom: 0;
    padding-bottom: 20px;
    height: 70px;
}

.footer-content {
    color: #111111;
    text-align: center;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e84610;
}

.footer-details {
    padding-top: 5px;
}