@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Quicksand&display=swap');

/*-----------------------------------------------------------------BODY*/

body {
	font-family: 'Quicksand', sans-serif;
	color: #434343;
}

.material-icons {
	color: #e8b3b3;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


/*-----------------------------------------------------------------HEADERS*/

.headers {
	font-size: 2.92rem;
	line-height: 110%;
	padding-top: 50px;
}

.tagline {
	font-family: 'Euphoria Script', cursive;
	font-size: 2vw;
	padding-left: 50px;
}


/*-----------------------------------------------------------------NAVBAR*/

nav ul a .material-icons {
	text-decoration: none;
	color: #444343
}

nav .nav-item a:hover {
	color: #e8b3b3 !important;
	background-color: #fafafa;
	transition: all 0.5s ease-in-out;
	font-size: 2vw;
}

nav .nav-link a:active {
	color: #e8b3b3 !important;
	background-color: #fafafa;
	transition: all 0.5s ease-in-out;
}

nav .brand-logo {
	position: absolute;
	color: #444343;
	display: inline-block;
	font-size: 3vw;
	font-family: 'Euphoria Script', cursive;
	padding-left: 5px;
	text-decoration: none;
}

nav .brand-logo:hover {
	color: #fafafa !important;
}

.navbar {
	position: relative;
	background-color: #aaaaaa !important;
	z-index: 1;
}


/*-----------------------------------------------------------------HOME PAGE*/

.background-container {
	margin: 0;
	max-width: 100%;
	padding: 0;
	padding-bottom: 50px
}


/*---------PARALLAX*/

.jumbotron {
	margin: 0;
	border-radius: 0;
}

.parallaxone h2 {
	font-family: 'Euphoria Script', cursive;
	font-size: 3vw;
	padding-left: 50px;
	color: #605f5f;
}

.parallaxone p {
	font-weight: 100;
	text-align: center;
	padding: 20px;
	font-size: 1.5vw;
	margin-top: 0;
	letter-spacing: 2px;
	line-height: 2;
}

.parallaxone a {
	color: #e8b3b3;
	text-shadow: 1px 1px #434343;
}

.shopping-headers {
	text-align: center;
	color: #e8b3b3;
	text-shadow: 1px 1px #434343
}

.parallaxone {
	background-image: url('/static/images/home-background.png');
	min-height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.parallaxtwo {
	background-color:#D3D3D3;
	background-attachment: scroll;
	background-size: cover;
	background-position: 50% 50%;
}

.shopping-list {
	background-image: url('/static/images/shopping.png');
	min-height: 1200px;
	background-attachment: scroll;
	background-size: cover;
	background-position: 50% 50%;
	padding-bottom: 100px;
}

.parallaxtwo h2 {
	font-family: 'Euphoria Script', cursive;
	color: #e69a9a;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 4vw;
}

.shopping-list h2 {
	font-family: 'Euphoria Script', cursive;
	color: #605f5f;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 4vw;
}

[type="checkbox"]:checked+span:not(.lever):before {
	top: -4px;
	left: -5px;
	width: 12px;
	height: 22px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid #e8b3b3;
	border-bottom: 2px solid #e8b3b3;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.parallaxthree {
	background-image: url('/static/images/background.jpg');
	min-height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.parallaxthree h2 {
	font-family: 'Euphoria Script', cursive;
	color: #605f5f;
	font-size: 4vw;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.parallaxthree a {
	color: #e8b3b3;
	text-decoration: none;
}
/*---------PARALLAX*/

label {
	font-size: .8rem;
	color: #434343
}

.shop-btn {
	color: #434343;
	border-radius: 5px;
	float: right;
	background-color: lightgray;
}

.shop-btn input {
	color: #434343
}

.shop-btn input:hover {
	color: #e8b3b3
}

.shop-btn:hover {
	background-color: #fafafa;
	border: 1px solid #e8b3b3;
}


/*-----------------------------------------------------------------TO-DO LIST*/

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #e8b3b3;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #f7e9e9;
}

.done_button {
	height: 28px;
	width: 5rem;
	line-height: 24px;
	margin: 5px 5px;
	padding: 0 0.5em;
	background-color: #c9c7c7 !important;
	font-size: 1vw;
}

.edit_button {
	height: 28px;
	width: 5rem;
	line-height: 24px;
	margin: 5px 5px;
	padding: 0 0.5em;
	color: #434343;
	background-color: #e8b3b3 !important;
	font-size: 1vw;
}

.edit_button:hover {
	background-color: #fafafa !important;
	color: #e8b3b3 !important;
	border: 1px solid #e8b3b3;
}

.done_button:hover {
	background-color: #fafafa !important;
	color: #434343 !important;
	border: 1px solid #434343
}

.row .col.s9 {
	width: 75%;
	padding-left: 0;
	margin-left: 0;
}

.collapsible-body {
	display: none;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5rem;
	padding-top: 1rem;
	padding-bottom: 0;
}

.input-field.col label {
	left: 4rem;
}

.to-do-list-container {
	background-image: url('/static/images/todo.png');
	min-height: 1400px;
	max-width: initial;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.edit-container {
	min-height: 1400px;
}

.add-to-do-list-container {
	background-image: url('/static/images/todo.png');
	min-height: 1200px;
	max-width: initial;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.add-to-do-form {
	background-color: white;
	padding: 20px;
	margin: 70px;
}

.collapsible {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: .5rem 0 1rem 0;
	width: 100%;
}

.form-row {
	display: inherit
}

.add-button {
	background-color: #e8b3b3!important;
	border: 1px solid #fafafa;
	color: #444343;
	width: 10rem;
}

.add-button:hover {
	background-color: #fafafa!important;
	border: 1px solid #e8b3b3;
	color: #e8b3b3;
}

.done-button {
	background-color: #444343 !important;
	border: 1px solid #e8b3b3;
	color: #fafafa;
	width: 10rem;
}

.done-button:hover {
	background-color: #fafafa!important;
	border: 1px solid #444343;
	color: #444343;
}

.dropdown-content li>a,
.dropdown-content li>span {
	font-size: 16px;
	color: #e69a9a;
	display: block;
	line-height: 22px;
	padding: 14px 16px;
}


/*----------------------------------------------------------------TIPS PAGE*/

.wrap {
	width: 100%;
	border: 1px solid grey;
	float: right;
	border-radius: 50px;
	border-radius: 0 5px 5px 0;
}

.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #e8b3b3;
}

.wrap button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	background-color: transparent;
	border: none;
}

.tips-page {
	padding-bottom: 80px;
	background-color: #fafafa;
	min-height: auto;
}

.pb-video-container {
	background-color: #fafafa;
	min-height: auto;
	margin-top: 60px;
	padding-top: 10px;
}

.pb-video {
	border: 1px solid #e8b3b3;
	padding: 5px;
}

.pb-video:hover {
	background: #e8b3b3;
}

.pb-video-frame {
	transition: width 2s, height 2s;
}

.pb-video-frame:hover {
	height: 300px;
}

.pb-row {
	margin-bottom: 10px;
}

.form-control {
	text-align: center;
	border: none;
}

.label-warning {
	background-color: #fafafa;
}


/*----------------------------------------------------------------SHOPPING LIST*/

.save-cb-state checkbox {
	position: relative;
	opacity: 0;
	pointer-events: all;
	border: 2px solid black;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
{
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none
}


/*----------------------------------------------------------------INSPIRATION PAGE*/

.inspiration-page {
	padding-bottom: 80px;
	background-color: #fafafa;
	min-height: 1900px;
}

.inspiration-page h2 {
	font-family: 'Euphoria Script', cursive;
}

.portfolio-images {
	padding: 20px;
}

.img-thumbnail {
	border: 1px solid #e8b3b3;
	border-radius: 5px;
	padding: 5px;
}

.item {
	padding: 4px;
}

.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #e8b3b3;
	border-radius: .25rem;
	max-width: 100%;
	height: auto;
}


/*----------------------------------------------------------------FOOTER*/

footer {
	background-color: #c9c7c7;
	position: fixed;
	text-align: center;
	width: 100%;
	color: #fafafa;
	bottom: 0;
	padding-bottom: 20px;
	height: 70px;
}

.social-links li a i {
	width: 50px;
	height: 50px;
	padding: 12px;
	border-radius: 50%;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	color: #e8b3b3;
}

.footer-details {
	padding-top: 5px;
	z-index: 1;
}


/*----------------------------------------------------------------CONTACT FORM*/
.form-page {
   background-image: url('/static/images/contact.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 1200px;
}

.main-form .col-12 {
    padding-left: 0;
    padding-right: 9px;
    background-color: #fafafa;
}

.main-form h3 {
    color: #353436;
    font-family: 'Euphoria Script', cursive;
    text-align: center;
    font-weight: bolder;
    padding-top: 60px;
}

.main-form p {
    color: #434343;
    text-align: center;
}


.main-form button[type=submit] {
   	background-color: #e8b3b3!important;
	border: 1px solid #fafafa;
	color: #444343;
	width: 10rem;
    text-transform: none;
}

.main-form button[type=submit]:hover {
    color: #e8b3b3;
    background-color: #fafafa;
    border: 1px solid #e8b3b3;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.main-form .form-control {
    font-size: 16px;
    font-weight: 100;
    margin: 10px;
}

.main-form .form-text {
    text-transform: uppercase;
    text-align: left;
    font-size: 28px;
    border: 1px solid #e8b3b3;
}

.main-form {
    padding: 60px;
    padding-top: 100px;
    border-radius: 5px;

}

/*----------------------------------------------------------------MEDIA QUERIES*/

@media(min-width: 320px) and (max-width:991px) {
	nav .brand-logo {
		display: block;
		font-size: 6vw;
		padding-left: 5px;
	}
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 30%
	}
}

@media(min-width: 320px) and (max-width:767px) {
	.nav-link {
		font-size: 5vw;
		line-height: 40px;
		float: right;
	}
}

@media (min-width: 768px) and (max-width:991px) {
	.nav-link {
		font-size: 3vw;
	}
}

@media(min-width: 320px) and (max-width:991px) {
	.parallaxone {
		background-image: url('/static/images/small-background.png');
	}
}

@media(min-width: 320px) and (max-width:991px) {
	.shopping-list {
		background-image: none;
	}
}

@media(min-width: 320px) and (max-width:991px) {
	.shopping-list h2 {
		font-size: 10vw;
	}
	@media(min-width: 320px) and (max-width:991px) {
		.parallaxtwo {
			max-height: 200px;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.parallaxone h2 {
			font-size: 6vw;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.parallaxone p {
			font-size: 3.5vw;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.parallaxtwo h2 {
			font-size: 10vw;
		}
	}

	@media(min-width: 320px) and (max-width:991px) {
		.parallaxthree h2 {
			font-size: 10vw;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.social-links li a i {
			line-height: 30px;
			width: 30px;
			height: 30px;
			padding: 0px;
			border-radius: 50%;
			font-size: 20px;
			line-height: 30px;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.footer-details {
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		footer {
			line-height: 50px;
			height: 50px;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		.col-md-7 {
			max-width: 100%;
			flex: auto;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		.parallaxone h2 {
			font-size: 7vw;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.tagline {
			font-family: 'Euphoria Script', cursive;
			font-size: 5vw;
			text-align: center;
			padding-left: 0;
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		.done_button {
			width: 3rem;
			font-size: 2vw;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		.done_button {
			width: 3rem;
			font-size: 1vw;
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		.edit_button {
			width: 3rem;
			font-size: 2vw;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		.edit_button {
			width: 3rem;
			font-size: 1vw;
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		.task_header {
			font-size: 3vw;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		.task_header {
			font-size: 2vw;
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		.switch label .lever {
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 7px;
			margin-bottom: 7px;
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		.add-to-do-form {
			margin: 10px;
		}
	}
	@media(min-width: 320px) and (max-width:991px) {
		.edit-container {
			min-height: auto;
			margin-left: 20px;
			margin-right: 20px;
			width: auto;
			padding-left: 30px;
			padding-right: 30px;
			background-color: #fafafa;
			padding-bottom: 80px
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		input[type=text]:not(.browser-default) {
			font-size: 4vw;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		input[type=text]:not(.browser-default) {
			font-size: 2vw;
		}
	}
	@media(min-width: 320px) and (max-width:767px) {
		.select-wrapper input.select-dropdown {
			font-size: 4vw;
		}
	}
	@media (min-width: 768px) and (max-width:991px) {
		.select-wrapper input.select-dropdown {
			font-size: 2vw;
		}
	}