@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Quicksand&display=swap');

/*-----------------------------------------------------------------BODY*/
body {
    font-family: 'Quicksand', sans-serif;
    color: #605f5f;
}

.material-icons{
    color:#e8b3b3;
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

/*-----------------------------------------------------------------HEADERS*/

.headers {
    font-size: 2.92rem;
    line-height: 110%;
    padding-left: 50px;
    padding-top: 50px;
}
/*-----------------------------------------------------------------NAVBAR*/
nav ul a .material-icons {
    text-decoration: none;
    color: #444343
}

nav ul a :hover  {
    color: #e8b3b3 !important;
    background-color: #fafafa;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

nav .brand-logo {
    position: absolute;
    color: #444343;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    text-decoration: none;
    padding-left: 10px;}
  
nav .brand-logo:hover{
    color: #e8b3b3 !important;
    text-shadow: 1px 1px white;

}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: #aaaaaa;
    font-family: 'Euphoria Script', cursive;
    font-size:12px;
    padding-left:5px;
    text-decoration: none;
}

 .my_icon{
    display :none;
                  }

.my_icon:hover{
    display :visible;

                  }
/*-----------------------------------------------------------------HOME PAGE*/
.background-container {
    background-image: url('/static/images/background.jpg');
    min-height: 1200px;
    max-width:initial;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}


/*-----------------------------------------------------------------TO-DO LIST*/

.btn .btn_small {
    height:24px;
    width:60px;
    line-height:24px;
    margin:5px 5px;
    padding: 0 0.5em;
    background-color:#c9c7c7 !important;
}

.btn .btn_small .edit_button{
    height:24px;
    width:60px;
    line-height:24px;
    margin:5px 5px;
    padding: 0 0.5em;
    color: #e8b3b3 !important;
}

.row .col.s9 {
    width: 75%;
    padding-left: 0;
    margin-left: 0;
    font-family: 'Quicksand', sans-serif;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.input-field.col label {
    left: 4rem;}


.to-do-list-container{
    background-image: url('/static/images/todo.png');
    min-height: 1200px;
    max-width:initial;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.add-to-do-list-container{
    background-image: url('/static/images/todo.png');
    min-height: 1200px;
    max-width:initial;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    
}

.add-to-do-form {
    background-color:white;
    padding:20px;
    margin:70px;

}

.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
    width: 60%; }

.form-row{
    display:inherit
}

.add-button{
    background-color:#fafafa;
    border: 1px solid #e8b3b3;
    color:#444343;
}

.add-button:hover{
    background-color: #e8b3b3;
    border: 1px solid #fafafa;
    color:#fafafa;
}
/*----------------------------------------------------------------TIPS PAGE*/
.tips-page {
    margin-bottom: 100px;
    background-color: #fafafa;
    min-height: 1900px;
}

.search-bar{
    background-color:#fafafa;
    padding-top: 15px;
    padding-bottom: 0;
    max-width: 1280px;
    height: 80px;
    border-radius:50px;
    border:1px solid #e8b3b3;
    box-shadow:2px 2px #d6d6d6;
}

.pb-video-container {    
    margin-bottom: 100px;
    background-color: #fafafa;
    min-height: 1200px;
    margin-top: 60px;
    padding-top: 10px;
    margin-bottom: 100px;
    background-color: #fafafa;
    min-height: 1200px;
    margin-top: 60px;
    padding-top: 10px;
    }


.pb-video {
        border: 1px solid #e8b3b3;
        padding: 5px;
    }

.pb-video:hover {
        background: #e8b3b3;
        }

.pb-video-frame {
        transition: width 2s, height 2s;
    }

.pb-video-frame:hover {
        height: 300px;
        }

.pb-row {
        margin-bottom: 10px;
    }

.form-control{
    text-align:center;
    border:none;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*----------------------------------------------------------------INSPIRATION PAGE*/

.inspiration-page {
    margin-bottom: 100px;
    background-color: #fafafa;
    min-height: 1900px;
}

.inspiration-page h2{
   font-family: 'Euphoria Script', cursive;
}
.portfolio-images {
    padding: 20px;
}

.img-thumbnail {
    border: 1px solid #e8b3b3;
    border-radius: 5px;
    padding: 5px;
}

.item {
    padding: 4px;
}

.img-thumbnail{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #e8b3b3;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

/*----------------------------------------------------------------FOOTER*/
    footer {
    background-color: #c9c7c7;
    position: fixed;
    text-align: center;
    width: 100%;
    color: #fafafa;
    bottom: 0;
    padding-bottom: 20px;
    height: 70px;
}

.footer-content {
    color: #111111;
    text-align: center;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e84610;
}

.footer-details {
    padding-top: 5px;
}