<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
     <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/><meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Hinching Journal</title>
</head>
<body>

  <nav>

  <div class="nav-wrapper">
  <a href="{{url_for('home')}}" class="brand-logo">Hinching Yourself Happy!</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('todo')}}"><i class="material-icons">menu_open</i>To-Do</a></li>
        <li><a href="{{url_for('tips')}}"><i class="material-icons">lightbulb</i>Tips</a></li>
        <li><a href="{{url_for('inspiration')}}"><i class="material-icons">color_lens</i>Inspiration</a></li>

    </ul>
  </div>
</nav>
   
  

    {% block content %}
    {% endblock %}
    <footer class="container-fluid footer-details">
       Footer
    </footer>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
             $('select').formSelect();
             $(".dropdown-trigger").dropdown();

  });
 
    </script>

</body>
    
</html>