<!DOCTYPE html>
{% extends 'base.html' %}   
{% block content %}
      <section class="form-page">
         <div class="main-form">
            <div class="col-12">
               <h3>Get in touch!</h3>
               <p>I'd love to hear from you...</p>
               <div class="col-12">
                  <form id="myform" onsubmit="return sendMail(this);" method="POST">
                     <input type="text" class="form-control" name="from_name" placeholder="Name" required/>
                     <input type="text" class="form-control" name="from_email" placeholder="Email Address" required/>
                     <textarea rows="10" class="form-control" name="query" placeholder="Type your question here..." required></textarea>
                     <div class="form-row text-center">
                        <div class="col-12"><button type="submit" class="btn btn-primary center-block">Send</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
{% endblock %}