<!DOCTYPE html>
{% extends 'base.html' %}   
{% block content %}
<div class="container edit-container">
   <h3 class="headers">Edit Product</h3>
   <div class="row">
   {% for prod in products %}
      <form action="{{url_for('update_product', product_id=product._id)}}" method="POST" class="col s12">
     
         <div class="row">
            <div class="input-field col s12">
               <i class="material-icons">shopping_basket</i>
               <input id="product_name" name="product_name" type="text" class="validate" value="{{prod.product_name}}">
               <label for="product_name">Products</label>
            </div>
         </div>
         
         <div class="row">
            <div class="input-field col s12">
               <button class="btn waves-effect waves-light add-button" type="submit" name="action" style="text-align:center">Edit Product
               </button>
            </div>
         </div>
      </form>
     {% endfor %}
   </div>
</div>
{% endblock %}
