<!DOCTYPE html>
{% extends 'base.html' %}   
{% block content %}
<div class="container background-container">
   <!--SECTION ONE-->
   <section id="about-me">
      <div class="jumbotron parallaxone">
         <div class="row about-me">
            <div class="col-md-7">
               <h2>Discover how to transform your home</h2>
               <p>Hello! Mrs Hinch here! <br> Welcome to your very own online Hinch activity journal! This little app is all about giving yourself the gift of time out: time to plan, time to dream, time to relax, time for us to have a bit of a giggle and a de-stress. We all live such busy lives and it can be hard to take a moment just to breathe, but I want this app to be all about YOU.  So, make yourself a cuppa and dive in. Store your <a href="{{url_for('shopping')}}">shopping list</a>, add to and edit your <a href="{{url_for('todo')}}">to-do</a> list, get some interior design <a href="{{url_for('inspiration')}}">inspiration</a>, search my YouTube channel for some <a href="{{url_for('tips')}}">tips</a> and cleaning hacks or just follow along on social! Think of it as a little slice of you time. <br> You deserve it! <br> Love, Mrs Hinch xx</p>
            </div>
         </div>
      </div>
   </section>
   <!--SECTION TWO-->
   <!--Icons for middle section on home page-->
   <div class="jumbotron parallaxtwo">
      <div class="container">
         <div class="row">
            <div class="col-md-12" style="text-align:center">
               <a href="{{url_for('shopping')}}"><i class="material-icons" style="font-size:10vw; text-shadow:2px 2px grey">shopping_basket</i></a>
               <a href="{{url_for('todo')}}"><i class="material-icons" style="font-size:10vw; text-shadow:2px 2px grey">content_paste</i></a>
               <a href="{{url_for('tips')}}"><i class="material-icons" style="font-size:10vw; text-shadow:2px 2px grey">lightbulb_outline</i></a>
               <a href="{{url_for('inspiration')}}"><i class="material-icons" style="font-size:10vw; text-shadow:2px 2px grey">color_lens</i></a>
            </div>
         </div>
      </div>
   </div>
   <!--SECTION THREE-->
   <section>
      <div class="jumbotron parallaxthree">
         <h2>Social</h2>
         <div class="row">
            <div class="col-md-6">
               <!--YouTube iFrames-->
               <iframe style="border-radius:12px;" width="100%" height="50%"   src="https://www.youtube.com/embed/XSQXA8TzJu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               <iframe style="border-radius:12px;" width="100%" height="50%" src="https://www.youtube.com/embed/ZnOncnOK41Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               <div style="text-align:center"><a href="{{url_for('tips')}}">View More</a></div>
            </div>
            <!--Instagram iFrame-->
            <div class="col-md-6">
               <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/p/B6bNsHYH9Ug/embed/?cr=1&amp;v=12&amp;wp=652&amp;rd=https%3A%2F%2F8080-cd0fecdb-cc66-4cb3-9d3b-3f215f5edb93.ws-eu01.gitpod.io&amp;rp=%2Fhome#%7B%22ci%22%3A0%2C%22os%22%3A360.05999999906635%2C%22ls%22%3A296.50999999830674%2C%22le%22%3A310.4349999994156%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="878" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: white; max-width: 540px; width: calc(100% - 2px); border-radius: 12px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 14px; padding: 0px;"></iframe>
            </div>
         </div>
      </div>
   </section>
</div>
{% endblock %}