<!DOCTYPE html>
{% extends 'base.html' %}   
{% block content %}
         <div class="container-fluid inspiration-page">
   <h1>Inspiration</h1>


        <!--BEDROOM-->
        <section>
            <div class="portfolio-images">
                <h2>Dreamy Bedrooms...</h2>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom1.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom1.jpg')}}" alt="bedroom1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom2.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom2.jpg')}}" alt="bedroom2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom3.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom3.jpg')}}" alt="bedroom3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom4.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom4.jpg')}}" alt="bedroom4"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom5.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom5.jpg')}}" alt="bedroom5"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom6.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom6.jpg')}}" alt="bedroom6"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom7.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom7.jpg')}}" alt="bedroom7"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom8.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom8.jpg')}}" alt="bedroom8"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom9.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom9.jpg')}}" alt="bedroom9"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom10.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom10.jpg')}}" alt="bedroom10"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom11.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom11.jpg')}}" alt="bedroom11"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/bedroom12.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/bedroom12.jpg')}}" alt="bedroom12"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--KITCHENS-->
        <section>
            <div class="portfolio-images">
                 <h2>Cosy Kitchens...</h2>
            <div class="photo-gallery">
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen1.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen1.jpg')}}" alt="kitchen1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen2.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen2.jpg')}}" alt="kitchen2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen3.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen3.jpg')}}" alt="kitchen3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen4.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen4.jpg')}}" alt="kitchen4"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen5.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen5.jpg')}}" alt="kitchen5"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen6.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen6.jpg')}}" alt="kitchen6"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen7.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen7.jpg')}}" alt="kitchen7"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen8.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen8.jpg')}}" alt="kitchen8"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen9.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen9.jpg')}}" alt="kitchen9"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen10.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen10.jpg')}}" alt="kitchen10"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen11.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen11.jpg')}}" alt="kitchen11"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/kitchen12.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/kitchen12.jpg')}}" alt="kitchen12"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--LOUNGE-->
        <section>
            <div class="portfolio-images">
                 <h2>Lazy Lounges...</h2>
            <div class="photo-gallery">
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge1.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge1.jpg')}}" alt="lounge1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge2.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge2.jpg')}}" alt="lounge2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge3.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge3.jpg')}}" alt="lounge3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge4.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge4.jpg')}}" alt="lounge4"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge5.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge5.jpg')}}" alt="lounge5"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge6.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge6.jpg')}}" alt="lounge6"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge7.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge7.jpg')}}" alt="lounge7"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge8.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge8.jpg')}}" alt="lounge8"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge9.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge9.jpg')}}" alt="lounge9"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge10.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge10.jpg')}}" alt="lounge10"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge11.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge11.jpg')}}" alt="lounge11"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/lounge12.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/lounge12.jpg')}}" alt="lounge12"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--GARDENS-->
        <section>
            <div class="portfolio-images">
                 <h2>Gorgeous Gardens...</h2>
            <div class="photo-gallery">
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden1.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden1.jpg')}}" alt="garden1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden2.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden2.jpg')}}" alt="garden2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden3.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden3.jpg')}}" alt="garden3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden4.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden4.jpg')}}" alt="garden4"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden5.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden5.jpg')}}" alt="garden5"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden6.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden6.jpg')}}" alt="garden6"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden7.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden7.jpg')}}" alt="garden7"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden8.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden8.jpg')}}" alt="garden8"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden9.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden9.jpg')}}" alt="garden9"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden10.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden10.jpg')}}" alt="garden10"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden11.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden11.jpg')}}" alt="garden11"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static', filename='images/garden12.jpg')}}" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/garden12.jpg')}}" alt="garden12"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>

{% endblock %}
 