<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<div id="printDiv" class="jumbotron shopping-list">
   <div class="container">
   
      <div class="container-fluid text-center">
         <h2>Shopping List</h2>
      </div>
      <div id="print-content">
         <div>
            <h4 class="shopping-headers">Laundry</h4>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox1" value="yes"> <span>Lenor Softener(Spring Awakening)</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox2" value="yes"> <span>Lenor Unstoppables</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox3" value="yes"> <span>Astonish Oxy Active Plus</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox4" value="yes"> <span>Tumble Dryer Sheets</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox5" value="yes"> <span>Ariel Gel(Cold Wash)</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox6" value="yes"> <span>Ace For Colours</span></label></div>
         </div>
         <div>
            <h4 class="shopping-headers">Bathroom</h4>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox7" value="yes"> <span>Cif Power and Shine Wipes</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox8" value="yes"> <span>Bloo Foam Aroma</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox9" value="yes"> <span>Stardrops Pine Disinfectant</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox10" value="yes"> <span>Viakal</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox11" value="yes"> <span>Toilet Bleach(Harpic Fresh Pine)</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox12" value="yes"> <span>Duck Fresh Toilet Disks</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox13" value="yes"> <span>Flash Bathroom</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox14" value="yes"> <span>Astonish Power Clean Tablets</span></label></div>
         </div>
         <div>
            <h4 class="shopping-headers">General</h4>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox15" value="yes"> <span>Zoflora</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox16" value="yes"> <span>1001 Spray</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox17" value="yes"> <span>The Pink Stuff</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox18" value="yes"> <span>Mr Sheen Multi Surface Cleaner</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox19" value="yes"> <span>Cif Stainless Steel Spray</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox20" value="yes"> <span>Feather Duster</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox21" value="yes"> <span>Minky Sponge</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox22" value="yes"> <span>Steam Microwave Cleaner</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox23" value="yes"> <span>Astonish Hob Cleaner</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox24" value="yes"> <span>Iba Leather Wipes</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox25" value="yes"> <span>Green Shield Stainless Steel Wipes</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox26" value="yes"> <span>Cif Floor Wipes</span></label></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="checkbox" class="save-cb-state" name="mycheckbox27" value="yes"> <span>Dr Beckman Stain Remover</span></label></div>
         </div>
      </div>
      <h2>Added Products</h2>
      <div class="row">
         {% for prod in products %}
         <div class="col-sm-6 col-md-4 col-lg-3 item"><label><input type="text" value="{{prod.product_name}}"> </label> <a href="{{url_for('remove')}}"><i class="material-icons">backspace</i></a></div>
         {% endfor %}
      </div>
   </div>
   <!--BUTTONS-->
   <div class="row">
      <div class="col-md-12 text-center">
         <a href="{{url_for('addproduct')}}">
         <button class="btn waves-effect waves-light add-button" type="submit" name="action" style="text-align:center">Add List
         </button></a>
         <a href="{{url_for('remove')}}">
         <button class="btn waves-effect waves-light done-button" type="submit" name="action" style="text-align:center">Remove List
         </button>
         </a>
      </div>
   </div>
   <!--BUTTONS-->
   <!--Button for printing page-->
   <button class="shop-btn btn waves-effect waves-light col-md-1">
   <input type="button" value="Print" onclick="window.print()">
   </button>
</div>
{% endblock %}