<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<div class="to-do-list-container">
   <h3 class="headers">To Do</h3>
   <div class="container">
      <div class="row">
         <ul class="collapsible" data-collapsible="accordion">
            {% for day in days %}
            {% for task in tasks %}
            <li>
               <div class="collapsible-header">
                  <i class="material-icons">expand_more</i>
                  <div class="task_header col s9">
                     <strong>{{task.day_id}}</strong>  ~ {{task.category_name}} ~ {{task.task_name}}
                  </div>
                  <div class="col s3">
                     <a href="{{url_for('edittodo', task_id=task._id)}}" class="waves-effect waves-light btn btn_small edit_button" style="background-color: #e8b3b3">Edit</a>
                     <a href="{{url_for('completed', task_id=task._id)}}" class="waves-effect waves-light btn btn_small" style="background-color:#c9c7c7">Done</a>
                  </div>
               </div>
               <div class="collapsible-body">
                  <span>
                     <h6>Products:</h6>
                     {{task.products}}
                     <h6>How To:</h6>
                     {{task.how_to}}
                  </span>
               </div>
            </li>
            {% endfor %}
            {% endfor %}
         </ul>
      </div>
      <!--BUTTONS-->
      <div class="form-row text-center">
         <div class="col 12">
            <form action="{{url_for('addtodo')}}">
               <button class="btn waves-effect waves-light add-button" type="submit" name="action" style="text-align:center">Add to To List
               </button>
            </form>
         </div>
      </div>
      <!--BUTTONS-->
   </div>
</div>
{% endblock %}