<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}


<div class="to-do-list-container">
<h3 class="headers">To Do</h3>
<div class="container">

<!--DAYS-->
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
            {% for day in days %}
        <li>
            <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
             <div class="task_header col s12">
                    <strong>{{day.day_id}}</strong> 
                </div>
            </div>
            
             <div class="collapsible-body">
             {% for cat in categories %}
             {% for task in tasks %}
             <div class="task_header col s9">
                    <em>{{cat.category_name}}</em>  <strong>Task:</strong> {{task.task_name}}
                </div>
                  <div class="col s9">
                <span>
                   <strong>Products:</strong> {{task.products}} <strong>How To:</strong> {{task.how_to}}
            </span>
                </div>
                <div class="col s3">
                    <a href="{{url_for('edittodo', task_id=task._id)}}" class="waves-effect waves-light btn btn_small edit_button" style="background-color: #e8b3b3">Edit</a>
                    <a href="{{url_for('completed', task_id=task._id)}}" class="waves-effect waves-light btn btn_small" style="background-color:#c9c7c7">Done</a>
                </div>
              
             {% endfor %}
            {% endfor %}
            </div>
                </li>
{% endfor %}
    </ul>

</div>

<!--DAYS-->



<!--BUTTONS-->
 <div class="form-row text-center">
<div class="col 12">
<form action="{{url_for('addtodo')}}">
 <button class="btn waves-effect waves-light add-button" type="submit" name="action" style="text-align:center">Add to To List
  </button>
  </form>
  </div>
  </div>
<!--BUTTONS-->
  </div>
  </div>
{% endblock %}